.modal-dialog {

  width: 800px;
  position: absolute;
  left: 500px;
  height:600px !important;

}

.modal-content {

/* 80% of window height */

height: 80%;
width: 100%;

background-color:#BBD6EC;

}

.modal-header {

background-color: #337AB7;
height: 55%;
padding:16px 16px;

color:#FFF;

border-bottom:2px dashed #337AB7;

}


ul li{
  list-style-type: none;
}

#image
{
  border:1px solid black;
  height:200px;
  width: 200px;
  position: relative;
  top:30px;
  left: -50px;
}


#uploadButton{
  position: relative;
  top:130px;
  width: 196px;
  left:0px;


}

#form2{
  position: absolute;
  left: -20px;
  top:50px;
}

#addButton{
  width: 100%;
}


input#save{
  position: relative;
  top:100px;
}

#upload{

}

#BaseToImage
{
position: absolute;
top:160px;
left: 220px;
}



input.ng-invalid.ng-touched , select.ng-invalid.ng-touched{
  border: 1px solid rgb(165, 62, 62);
}

input[type="file"].ng-invalid.ng-touched , select.ng-invalid.ng-touched{
  border: 1px solid rgb(165, 62, 62);
}

input.valid{

  border: 1px solid black;
}

select.ng-valid.ng-touched{
  border: 1px solid black;
}



/* input.ng-invalid , select.ng-invalid{
  border: 1px solid black;
} */
